In [10]:
from processing import get_mag_indices
import numpy as np
import pandas as pd
from astropy.time import Time

In [12]:
def jd2dt(jd_series, bias=2440000.00):
    """
    Convert Julian date to datetime.
    """
    return Time(jd_series + bias, format="jd").to_datetime()
        
base_path = "E:\Research\SR\input\mag_Indices"
R21_5_file_path = "\R21_5\PREDSOLARWIND\GONGZfield_line1R000.dat"  # dataframe

jul_bias = 2440000.00
dat_file = base_path+R21_5_file_path

wsa_df = pd.read_csv(dat_file, comment='#', sep=r'\s+', engine='python')

wsa_df["departure_time"] = jd2dt(wsa_df["parcel_depart_time"], jul_bias)
wsa_df["arrival_time"]   = jd2dt(wsa_df["juldate"], jul_bias)

wsa_df[:10]

,juldate,month,day,year,doy,Vp,imf,curr_sheet_dist,map_age,B_footpoint,...,lon_subsat,lat_subsat,coronal_hole_dist,B_subsat,expansion_factor,squashing_factor,parcel_depart_time,output_file,departure_time,arrival_time
0,15928.3665,1,1,2012,1,519.8,1.0,5.5,0,6.9125,...,145.0595,-2.7015,3.0824,5.4856,27.8212,0.4336,15925.4236,wsa_201201010554R000_gongz.fits,2011-12-29 22:09:59.039988,2012-01-01 20:47:45.600000
1,15928.5981,1,2,2012,2,506.1,1.0,4.1,0,5.7503,...,143.0615,-2.7196,2.9537,5.4857,28.9155,1.8045,15925.5752,wsa_201201010554R000_gongz.fits,2011-12-30 01:48:17.279987,2012-01-02 02:21:15.840005
2,15928.9857,1,2,2012,2,469.4,1.0,2.1,0,5.8793,...,141.0635,-2.7377,2.8369,5.4859,51.7180,3.5212,15925.7267,wsa_201201010554R000_gongz.fits,2011-12-30 05:26:26.880000,2012-01-02 11:39:24.480007
3,15929.5312,1,3,2012,3,353.0,1.0,8.0,0,5.7331,...,148.0478,-2.6744,1.6669,5.0877,21.2332,0.9065,15925.1970,wsa_201201020554R000_gongz.fits,2011-12-29 16:43:40.800014,2012-01-03 00:44:55.680007
4,15930.0429,1,3,2012,3,325.9,1.0,6.1,0,6.6987,...,146.0498,-2.6925,1.4197,5.0878,27.6879,0.9323,15925.3485,wsa_201201020554R000_gongz.fits,2011-12-29 20:21:50.399987,2012-01-03 13:01:46.559980
5,15930.3564,1,3,2012,3,330.6,1.0,5.5,0,6.1256,...,141.0360,-2.7379,1.4671,5.0183,25.7133,0.8859,15925.7288,wsa_201201030554R000_gongz.fits,2011-12-30 05:29:28.320014,2012-01-03 20:33:12.959994
6,15930.6783,1,4,2012,4,318.8,1.0,4.0,0,7.7333,...,139.0381,-2.7560,1.3656,5.0184,39.9635,1.9190,15925.8803,wsa_201201030554R000_gongz.fits,2011-12-30 09:07:37.919987,2012-01-04 04:16:45.119982
7,15930.6792,1,4,2012,4,329.2,1.0,2.1,0,2.9595,...,137.0403,-2.7740,1.4374,5.0185,22.6947,3.2374,15926.0318,wsa_201201030554R000_gongz.fits,2011-12-30 12:45:47.520000,2012-01-04 04:18:02.880011
8,15931.2153,1,4,2012,4,304.0,-1.0,0.2,0,-62.3117,...,135.0426,-2.7920,1.3797,-5.0186,623.3246,-4.8697,15926.1834,wsa_201201030554R000_gongz.fits,2011-12-30 16:24:05.759998,2012-01-04 17:10:01.919983
9,15931.2230,1,4,2012,4,313.0,-1.0,0.2,0,-60.0265,...,133.0451,-2.8100,1.4953,-5.0187,305.8730,-3.2866,15926.3349,wsa_201201030554R000_gongz.fits,2011-12-30 20:02:15.360011,2012-01-04 17:21:07.200020

In [4]:
base_path = "E:\Research\SR\input\mag_Indices"
R21_5_file_path = "\R21_5\PREDSOLARWIND\GONGZfield_line1R000.dat"  # dataframe

get_mag_indices(base_path + R21_5_file_path)

,datetime,departure_time,arrival_time,expansion_factor,coronal_hole_dist,squashing_factor
0,2012-01-01T00:00:00,NaT,NaT,NaN,NaN,NaN
1,2012-01-01T12:00:00,NaT,NaT,NaN,NaN,NaN
2,2012-01-02T00:00:00,NaT,NaT,NaN,NaN,NaN
3,2012-01-02T12:00:00,2011-12-30T05:26:26,2012-01-02T11:39:24,51.7180,2.8369,3.5212
4,2012-01-03T00:00:00,2011-12-29T16:43:40,2012-01-03T00:44:55,21.2332,1.6669,0.9065
...,...,...,...,...,...,...
9493,2024-12-29T12:00:00,NaT,NaT,NaN,NaN,NaN
9494,2024-12-30T00:00:00,2024-12-26T05:17:48,2024-12-30T00:15:59,337.3415,2.7838,0.8886
9495,2024-12-30T12:00:00,2024-12-26T16:12:25,2024-12-30T11:57:33,386.1967,2.7848,0.8521
9496,2024-12-31T00:00:00,2024-12-26T18:13:32,2024-12-31T01:42:05,369.5538,2.1442,0.9360
9497,2024-12-31T12:00:00,2024-12-27T01:30:00,2024-12-31T11:25:17,453.5638,2.0739,1.0995

In [2]:
input_mag_path = "E:\Research\SR\input\mag_Indices"
mag_indics_r21_5 = pd.read_csv(input_mag_path+"\mag_indices_R21_5.csv")  # dataframe

mag_indics_r21_5

,datetime,departure_time,arrival_time,expansion_factor,coronal_hole_dist,squashing_factor
0,2012-01-01T00:00:00,NaN,NaN,NaN,NaN,NaN
1,2012-01-01T12:00:00,NaN,NaN,NaN,NaN,NaN
2,2012-01-02T00:00:00,NaN,NaN,NaN,NaN,NaN
3,2012-01-02T12:00:00,2011-12-30T05:26:26,2012-01-02T11:39:24,51.7180,2.8369,3.5212
4,2012-01-03T00:00:00,2011-12-29T16:43:40,2012-01-03T00:44:55,21.2332,1.6669,0.9065
...,...,...,...,...,...,...
9493,2024-12-29T12:00:00,NaN,NaN,NaN,NaN,NaN
9494,2024-12-30T00:00:00,2024-12-26T05:17:48,2024-12-30T00:15:59,337.3415,2.7838,0.8886
9495,2024-12-30T12:00:00,2024-12-26T16:12:25,2024-12-30T11:57:33,386.1967,2.7848,0.8521
9496,2024-12-31T00:00:00,2024-12-26T18:13:32,2024-12-31T01:42:05,369.5538,2.1442,0.9360
9497,2024-12-31T12:00:00,2024-12-27T01:30:00,2024-12-31T11:25:17,453.5638,2.0739,1.0995